@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@font-face {
    font-family: 'Canopee';
    src: url('../fonts/canopee.ttf') format('truetype');
}

@font-face {
    font-family: 'Domain';
    src: url('../fonts/domain.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    width: 100%;
    font-family: "Dancing Script" ,sans-serif;
}

#main {
    background-color: #222;
    overflow-x: hidden;
}

#page1 {
    height: 100vh;
    width: 100vw;
    background-color: #c4bcb3;
    position: relative;
    overflow: hidden;
}

#nav {
    height: 110px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #797979;
}

#nav img {
    height: 40px;
    cursor: pointer;
}

#nav h5 {
    font-size: 20px;
    font-weight: 100;
}

#nav i {
    font-size: 20px;
    cursor: pointer;
}


#elems {
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

#elem1 {
    width: 30%;
    height: 100%;
}
#elem2 {
    width: 30%;
    height: 100%;
    border-right: 1px solid #a7a5a5;
    border-left: 1px solid #a7a5a5;
    padding: 20px 30px;
    text-align: center;
}
#elem3 {
    width: 30%;
    height: 100%;
}

#image-div {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

#image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .8s ease-in-out;
}

#image-div:hover img {
    scale: 1.2;
}

#elem1 h4 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Canopee;
    letter-spacing: 1px;
}

#elem1 h4 span {
    background-color: rgb(165, 47, 4);
    color: #c4bcb3;
    font-weight: 100;
    font-size: 22px;
    padding: 4px;
    border-radius: 4px;
    margin-left: 10px;
}

#elem1 p {
    font-size: 24px;
    letter-spacing: 0.3px;
    color: #2f2f2f;
}

#elem3 h4 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Canopee;
    letter-spacing: 1px;
}

#elem3 h4 span {
    background-color: rgb(165, 47, 4);
    color: #c4bcb3;
    font-weight: 100;
    font-size: 22px;
    padding: 4px;
    border-radius: 4px;
    margin-left: 10px;
}

#elem3 p {
    font-size: 24px;
    letter-spacing: 0.3px;
    color: #2f2f2f;
}


#elem2 h2 {
    font-family: Domain;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
}

#elem2 h3 {
    font-family: Domain;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 30px;
    color: #585757;
    line-height: 1.3;

}

#elem2 h6 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    color: #292828;
}

#elem2 h6 span {
    font-weight: 700;
}

#page1 h1 {
    background-color: #1d1d1b;
    font-family: Canopee;
    font-size: 500px;
    letter-spacing: 45px;
    text-align: center;
    color: #cdc6be;
    margin: 30px;
}



#page2 {
    height: 150vh;
    width: 100%;
    background-color: #c4bcb3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 30px;
    overflow: hidden;
}

#page2-left {
    height: 100%;
    width: 35%;
    padding-right: 40px;
    border-right: 1px solid #787878;
}

#page2-left h2 {
    font-size: 180px;
    line-height: 180px;
    font-family: Canopee;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: #292828;
}

#page2-left h2 span {
    font-size: 240px;
    font-weight: 600;
}

#page2-left img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #2f2f2f;
}

#page2-left p {
    font-size: 34px;
    line-height: 1.3;
    font-family: Roboto;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

#page2-left p::first-letter {
    margin-right: 4px;
    background-color: #292828;
    padding: 1px 6px;
    font-size: 50px;
    color: #c4bcb3;
}

#page2-right {
    height: 100%;
    width: 65%;
    padding: 0 40px;
}

#page2-right img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#page2-right h1 {
    font-family: Canopee;
    font-size: 155px;
    text-align: center;
    color: #292828;
    font-weight: 200;
    padding: 30px 0;
    letter-spacing: -4px;
}













